:host {
  display: block;
  height: 100%;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(238, 238, 238, 0.15);
  border-radius: 999px;
}
